<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listado de usuarios</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
<p><a href="/user-add">Añadir Nuevo Usuario</a></p><br>
<form action="/users" method="GET">
    <label>
        <input name="search" type="search" placeholder="Introduce el nombre a buscar...">
    </label>
    <input type="submit" value="Buscar">
    <input type="submit" value="Reset"><br>
</form>
<div th:if="${users.size()} > 0">
    <table>
        <tr>
            <th>Nombre Completo</th>
            <th>Email</th>
            <th>Fecha de nacimiento</th>
            <th>Código postal</th>
            <th>Acciones</th>
        </tr>
        <tr th:each="item : ${users}">
            <td th:text="${item.name} + ' ' + ${item.surname}"></td>
            <td th:text="${item.email}"></td>
            <td th:text="${#temporals.format(item.birthday, 'LLLL dd, yyyy')}"></td>
            <td th:text="${item.zipCode}"></td>
            <td>
                <a th:href="@{/user-detail(dni=${item.dni})}">Ver detalle</a>
                <a th:href="@{/user-delete(dni=${item.dni})}">Borrar</a>
            </td>
        </tr>
    </table>
</div>
<div th:unless="${users.size()} > 0">
    <p>No existen usuarios dados de alta</p>
</div>
</body>
</html>