<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insertar un usuario</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
<h1>Insertar usuario</h1>
<div class="errors" th:if="${errors}">
    <p th:each="item: ${errors}">
        <strong th:text="${item.key}"></strong>:
        <span th:text="${item.value}"></span>
    </p>
</div>
<form action="/user-add" method="post">
    <label>
        Nombre: <input name="name" type="text" required><br>
    </label>
    <label>
        Apellidos: <input name="surname" type="text" required><br>
    </label>
    <label>
        DNI: <input name="dni" type="text" required><br>
    </label>
    <label>
        Email: <input name="email" type="text" required><br>
    </label>
    <label>
        Teléfono: <input name="telephoneNumber" type="text" required><br>
    </label>
    <label>
        Birthday: <input name="birthday" type="date" required><br>
    </label>
    <label>
        Código postal: <input name="zipCode" type="text" required><br>
    </label>
    <label>
        Password: <input name="password1" type="password" required><br>
    </label>
    <label>
        Repetir password: <input name="password2" type="password" required><br>
    </label>
    <input type="submit" value="Añadir">
    <input type="reset" value="Restablecer">
</form>
<a href="/users">Volver al listado de Usuarios</a>
</body>
</html>